{extend name='common/_container'} 
{block name="content"} 
<div class="ibox float-e-margins"> 
	<div class="ibox-content"> 
		<table class="table table-bordered" style="word-break:break-all;"> 
			<tbody> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">设备ip：</td> 
					<td>{$info.deviceip}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">Ip归属：</td> 
					<td>{$info.ipattribution}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">设备品牌：</td> 
					<td>{$info.equipment_brand}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">工作时长：</td> 
					<td>{$info.woektime}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">设备状态：</td> 
					<td><?php echo getFieldVal($info["status"],"正常|1|success,离线|2|warning,异常|0|danger");?></td>   
				</tr> 
			</tbody> 
		</table> 
	</div> 
</div> 
{/block} 
