{extend name='common/_container'} 
{block name="content"} 
<div class="ibox float-e-margins"> 
	<div class="ibox-content"> 
		<table class="table table-bordered" style="word-break:break-all;"> 
			<tbody> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">名称：</td> 
					<td>{$info.type_title}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">所父级：</td> 
					<td>{$info.pid}</td>   
				</tr> 
			</tbody> 
		</table> 
	</div> 
</div> 
{/block} 
