{extend name='common/_container'} 
{block name="content"} 
<div class="ibox float-e-margins"> 
	<div class="ibox-content"> 
		<table class="table table-bordered" style="word-break:break-all;"> 
			<tbody> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">任务ID：</td> 
					<td>{$info.queue_id}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">请求参数：</td> 
					<td>{$info.request_param}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">返回数据：</td> 
					<td>{$info.respone}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">状态：</td> 
					<td><?php echo getFieldVal($info["status"],"未执行|0|info,成功|1|success,失败|2|danger");?></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">执行时间：</td> 
					<td>{if $info.execution_time}{$info.execution_time|date='Y-m-d H:i:s'}{/if}</td>   
				</tr> 
			</tbody> 
		</table> 
	</div> 
</div> 
{/block} 
