{extend name='common/_container'} 
{block name="content"} 
<div class="ibox float-e-margins"> 
	<div class="ibox-content"> 
		<table class="table table-bordered" style="word-break:break-all;"> 
			<tbody> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">视频编号：</td> 
					<td>{$info.video_num}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">封面图片：</td> 
					<td><a href="javascript:void(0)"  onclick="openImg('{$info.pic}')"><img height="75" src="{$info.pic}"></a></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">上传时间：</td> 
					<td>{if $info.add_time}{$info.add_time|date='Y-m-d H:i:s'}{/if}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">视频类型：</td> 
					<td>{$info.typecontrol_id}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">视频地址：</td> 
					<td><a target="_blank" href="{$info.video_url}">下载附件</a></td>   
				</tr> 
			</tbody> 
		</table> 
	</div> 
</div> 
{/block} 
