{extend name='common/_container'} 
{block name="content"} 
<div class="ibox float-e-margins"> 
	<div class="ibox-content"> 
		<table class="table table-bordered" style="word-break:break-all;"> 
			<tbody> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">用户：</td> 
					<td>{$info.member_id}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">视频id：</td> 
					<td>{$info.aweme_id}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">评论数量：</td> 
					<td>{$info.comment_count}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">点赞数量：</td> 
					<td>{$info.digg_count}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">分享数量：</td> 
					<td>{$info.share_count}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">播放数量：</td> 
					<td>{$info.play_count}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">视频描述：</td> 
					<td>{$info.video_desc}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">视频地址：</td> 
					<td>{$info.video_url}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">封面图：</td> 
					<td>{$info.video_pic_url}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">添加时间：</td> 
					<td>{if $info.addtime}{$info.addtime|date='Y-m-d H:i:s'}{/if}</td>   
				</tr> 
			</tbody> 
		</table> 
	</div> 
</div> 
{/block} 
