{extend name='common/_container'} 
{block name="content"} 
<div class="ibox float-e-margins"> 
	<div class="ibox-content"> 
		<table class="table table-bordered" style="word-break:break-all;"> 
			<tbody> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">账号：</td> 
					<td>{$info.username}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">密码：</td> 
					<td>{$info.pass}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">昵称：</td> 
					<td>{$info.nickname}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">状态：</td> 
					<td><?php echo getFieldVal($info["status"],"在线|1|success,离线|2|warning,异常|0|danger");?></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">头像：</td> 
					<td><a href="javascript:void(0)"  onclick="openImg('{$info.headpic}')"><img height="75" src="{$info.headpic}"></a></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">粉丝：</td> 
					<td>{$info.fans}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">点赞：</td> 
					<td>{$info.dianzan}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">播放：</td> 
					<td>{$info.play}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">签名：</td> 
					<td>{$info.autograph}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">所属设备：</td> 
					<td>{$info.equipment_id}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">开关：</td> 
					<td><?php echo getFieldVal($info["mem_switch"],"开启|1,关闭|0");?></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">备注：</td> 
					<td>{$info.remarks}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">Access_token：</td> 
					<td>{$info.access_token}</td>   
				</tr> 
			</tbody> 
		</table> 
	</div> 
</div> 
{/block} 
