{extend name='common/_container'} 
{block name="content"} 
<div class="ibox float-e-margins"> 
	<div class="ibox-content"> 
		<table class="table table-bordered" style="word-break:break-all;"> 
			<tbody> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">分组对应权限值：</td> 
					<td>{$info.purviewval}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">role_id：</td> 
					<td>{$info.role_id}</td>   
				</tr> 
			</tbody> 
		</table> 
	</div> 
</div> 
{/block} 
